.container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    height: 100%;
}

@media (max-width: 445px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}

@media (min-width: 888px) and (max-width: 1350px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (min-width: 1351px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.noticia {
    padding: 10px;
}

.noticia a {
    text-decoration: none;
}

.noticia a h2:hover {
    font-size: 1.1em;
}

.noticia h2 {
    font-size: 1em;
    text-align: center;
    color: #000;
    height: 65px;
}

.noticia p {
    text-align: justify;
}

.noticia > iframe {
    display: block;
    margin: 0 auto;
}